.btn {
    /* width: 95.34px;
    height: 44.11px; */
    padding: 13px 22px;
    background: #000000;
    border-radius: 7px;
    border: none;
    color: #fefefe;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -0.03em;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: all 0.6s;
}

.btn:hover {
    transform: scale(1.1);
}

@media (max-width:1298px) {
    .btn {
        /* padding: 7px 12px; */
        font-size: 20px;
        line-height: 21px;
        letter-spacing: -0.03em;
    }
}