.header {
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    /* background-color: red; */
}

.nav {
    display: flex;
    align-items: center;
    gap: 54px;
}
.logo {
    display: flex;
}

.menu {
    display: flex;
    gap: 65px;
}

.menu li a {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #242323;
}
