.container {
  /* padding-inline: 71.15px; */
}

.main {
  /* min-height: 100vh; */
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width:1240px) {
  .container {
    /* padding-inline: 20px; */
  }
}